/*  ========================================================================
	BASE STYLES
	======================================================================== */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea { color: #565a5c; }

body {
	background: #efefef url(../img/body-bg.jpg);
	color: #565a5c;
	font: 100%/1.5 "Roboto", "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
}

p {
	color: #85888a;
	font-size: 0.9em;
	font-weight: 300;
	font-weight: normal;
}

audio,
canvas,
img,
video { vertical-align: middle; }

fieldset { border: none; }
textarea { resize: vertical; }

.btn {
	background: transparent;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	display: inline-block;
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #565a5c;
	line-height: 2.75;
	border: 3px solid #565a5c;
	width: 13em;
	}
	.btn:hover,
	.btn.active,
	.btn:focus {
		background: #565a5c;
		color: #fff;
		outline: none;
	}
	.btn:active {
		outline: none;
		background: #85888a;
		border-color: #85888a;
		color: #fff;
	}

/*  ========================================================================
	MAIN STYLES
	======================================================================== */

/*  MAIN HEADER  */
.main-hdr h1 {
	background: url(../img/logo-mawape-small.png) no-repeat;
	width: 196px;
	height: 122px;
	margin: 1em auto;
}
.main-hdr h2 {
	font-size: 1.25em;
	font-weight: 300;
	margin: 0;
}

/*  MAIN CONTENT  */
.main-cnt ul {
	margin: 1.5em auto;
	list-style-type: none;
	padding: 0;
	}
	.main-cnt ul li {
		display: inline-block;
		font-size: 0.75em;
		margin: 0 1.5em;
	}
	.main-cnt ul li .fa {
		display: block;
		margin: 0 0 0.2em;
	}
	.main-cnt ul li .fa-4x { font-size: 3em; }

	#contact-trigger { margin-bottom: 1em; }

/*  CONTACT  */
#contact-wrapper {
	background: #fafafa;
	
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	
	border-style: solid;
	border-width: 1px;
	border-color: #ccc #e0e0e0 #fff #e0e0e0;
	display: none;
	margin: 0 auto 1em;
	width: 75%;
	max-width: 30em;
	position: relative;
	}
	#contact-wrapper.open {
		display: block;
		margin-bottom: 2em;
		position: relative;
	}
	#contact-wrapper:after,
	#contact-wrapper:before {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		}
		#contact-wrapper:after {
			border-color: rgba(250, 250, 250, 0);
			border-bottom-color: #fafafa;
			border-width: 10px;
			left: 50%;
			margin-left: -10px;
		}
		#contact-wrapper:before {
			border-color: rgba(204, 204, 204, 0);
			border-bottom-color: #ccc;
			border-width: 11px;
			left: 50%;
			margin-left: -11px;
		}

	#contact-wrapper form {
		margin: 0;
		padding: 1.5em;
		}
		#contact-wrapper fieldset {
			margin: 0;
			padding: 0;
			}
			#contact-wrapper .form-field { margin: 2em 0 0; }
				#contact-wrapper .form-field:first-child { margin: 0; }
	
				#contact-wrapper input[type="text"],
				#contact-wrapper textarea {
					border: none;
					border-bottom: 2px solid #ccc;
					background: none;
					width: 100%;
					padding: 0.5em 0;
					}
					#contact-wrapper .form-field:first-child input { padding-top: 0; }
					#contact-wrapper input[type="text"]:focus,
					#contact-wrapper textarea:focus {
						outline: none;
						border-bottom-color: #565a5c;
					}
					#contact-wrapper input[type="submit"] {
						margin: 1em 0 0;
						width: 100%;
					}

#result-form{
	position: absolute;
	width: 480px;
	background: black;
	opacity: 0.5;
	z-index: 9999;
	display: none;
	top: 0;
	left: 0;

}
	p#result-process{
		color: white;
		font-weight: bold;
	}	


/*  MAIN FOOTER  */
.main-ftr { margin: 0 auto; }
	.main-nav {
		overflow: hidden;
		padding: 0 0 0.5em 0;
		}
		.main-nav a {
			color: #b0b0b0;
			display: inline-block;
			text-decoration: none;
			}
			.main-nav a:hover,
			.main-nav a:focus,
			.main-nav a:active { outline: none; }
		
		.main-nav a.fa-lg { font-size: 1.2em; }
		.main-nav a[title*="Facebook"]:hover { color: #3b5998; }
		.main-nav a[title*="Twitter"]:hover { color: #00acee; }
		.main-nav a[title*="Google Plus"]:hover { color: #dd1812; }
		/*.main-nav a[title*="Instagram"]:hover { color: #3f729b; }
		.main-nav a[title*="LinkedIn"]:hover { color: #0e76a8; }*/
		.main-nav a[title*="Github"]:hover { color: #000; }
		.main-nav a[title*="Blog"]:hover { color: #eb510e; }

/*  ========================================================================
	HELPER CLASSES
	======================================================================== */

/*  Image replacement  */
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	}
	.ir:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}

/*  Clearfix  */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
	}
	.clearfix:after { clear: both; }

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*  ========================================================================
	MEDIA QUERIES
	======================================================================== */
@media only screen and (min-width: 40em) {
	.main-hdr h1 {
		background: url(../img/logo-mawape-big.png) no-repeat;
		width: 285px;
		height: 177px;
	}
	
	.main-hdr h2 { font-size: 2em; }
		p {	font-size: 1.25em; }

	.main-cnt { padding-bottom: 5em; }
		.main-cnt ul { margin: 3em auto; }
		.main-cnt ul li {
			font-size: 0.9em;
			margin: 0 2em;
			}
			.main-cnt ul li .fa {
				display: block;
				margin: 0 0 0.35em;
				}
				.main-cnt ul li .fa-4x { font-size: 4em; }
	
	#contact-trigger { margin-bottom: 2em; }
	.btn-contact {
		font-size: 1.25em;
		width: 14em;
	}
	#contact-wrapper { margin: 0 auto 2em; }
		#contact-wrapper form { padding: 2.5em; }
	
	/*  MAIN FOOTER  */
	.main-ftr {
		background: #efefef url(../img/body-bg.jpg);
		margin: 0;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		height: 4.5em;
		}
		.main-nav { padding: 1em 0; }
		.main-nav a.fa-lg { font-size: 1.3333333333333333em; }
}
